.container{
  border-radius: 5px;
  color:red;
}
.login{
  height: 50vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
button{
  width: 60%;
  padding:10px;
  background-color: lightseagreen;
  color: white;
   border-radius: 10px;
  cursor: pointer;
}
.username{
  position: absolute;
  top: 15px;
  right: 15px;
  color: lightseagreen;

}